.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexStart{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexEnd{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flexEven{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.add{
  font-size: 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
}
.card{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px 10px;
}

.event {
  position: relative;
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.event-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.event-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.event-location {
  font-size: 14px;
  line-height: 20px;
}

.event-time {
  font-size: 14px;
  line-height: 20px;
}

.event-details {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #d1d1d6;
}

.event-description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.event-actions {
  display: flex;
  justify-content: flex-end;
}

.event-action-button {
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
}

.event-toggle {
  position: absolute;
  bottom: -24px;
}
.collab{
    background: rgba(109, 164, 214, 0.3);
    border: 1px solid #000000;
    border-radius: 0px;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user {
  display: flex;
  align-items: center;
  padding: 9px;
  cursor: pointer;
  position: relative;
}

.user::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: gray;
}


.profile-picture-wrapper {
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.profile-picture {
  width: 100%;
  height: 100%;
  border: 1px solid #b1adad;
  object-fit: cover;
  border-radius: 50%;
}

.status-dot {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-dot.online {
  background-color: green;
}

.status-dot.offline {
  background-color: gray;
}

.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.full-name {
  font-weight: bold;
}

.course {
  font-size: 0.8rem;
  color: gray;
}

/* Styles for mobile devices */
@media only screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hide-on-pc {
    display: none;
  }
}

.dropdown-container {
  position: relative;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 80vw;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 7px 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 13px;
  z-index: 1;
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/futura medium bt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Manrope', sans-serif;
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('./fonts/Futura Heavy font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.heading{
  font-family: 'Futura', sans-serif;
  font-size: 32px;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 10px;
  width: 100%;
  height: 12px;
  background-color: rgba(180, 40, 40, 0.8);
  z-index: -1;
}


.m-0{
  margin: 0;
}
.dropdown-option {
    padding: 14px;
    color: #fff;
    font-weight: normal;
    text-align: justify;
    margin: 6px 2px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Futura';
}

.dropdown-option:hover {
  background-color: #e5e5e5;
}

.dropdown-option:nth-child(1) {
  background-color: #28B492;
}

.dropdown-option:nth-child(2) {
  background-color: rgba(180, 40, 40, 0.8);
}

.dropdown-option:nth-child(3) {
  background-color: #8A4C7D;
}

.dropdown-option:nth-child(4) {
  background-color: #99BFE2;
}

.dropdown-option:nth-child(5) {
  background-color: #FD969C;
}

.dropdown-option:nth-child(6) {
  background-color: #676767;
}

.messaging-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px;
  background-color: #f7f7f7;
}

.messages-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.message-bubble {
  display: inline-flex;
  max-width: 70%;
  padding: 8px;
  border-radius: 16px;
  background-color: #fff;
}

.my-message {
  align-self: flex-end;
  background-color: #85c1e9;
}

.message-text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.chat-box {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  padding: 8px 16px;
}

.chat-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.inputlabel{
  max-width: 300px;
  width: 100%;
  height: 45px;
  left: 36px;
  top: 416px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #85c1e9;
  color: #fff;
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
